.dataTables_wrapper {
  background: #fff;
  border-radius: .375rem .375rem .375rem .375rem;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate {
  width: 50%;
  float: left;
  font-size: 13px;
  padding: 15px 20px;
  color: #818ea3;
}

.dataTables_filter {
  width: 50%;
  float: left;
  font-size: 13px;
  padding: 15px 20px;
  color: #818ea3;
}

.dataTables_info, .dataTables_length, .dataTables_paginate {
  width: 50%;
  float: left;
  font-size: 13px;
  padding: 15px 20px;
  color: #818ea3;
}

.vue-tags-input {
  .ti-input {
    padding: .4375rem .375rem !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb !important;
    border-radius: .25rem;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06) !important;
  }

  &.ti-focus .ti-input {
    color: #495057;
    background-color: #fff;
    border-color: #007bff !important;
    box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06) !important;
  }

  .ti-tag {
    background: #fbfbfb !important;
    border-radius: .25rem !important;
    font-size: .6875rem !important;
    border: 1px solid #e1e5eb;
    color: #818ea3 !important;
  }
}

.pagination .page-item.active .page-link {
  background-color: #4285f4 !important;
}

.dataTables_length select {
  border: 1px solid #e1e5eb;
  font-size: .625rem;
  color: #818ea3;
  height: 1.5625rem;
  background-color: #fff;
  border-radius: .375rem;
  margin: 0 0.1875rem;
}

.dataTables_filter label {
  float: right;
  font-size: 0;
  margin: 0;
}

.dataTables_info label, .dataTables_length label, .dataTables_paginate label {
  margin: 0;
}

.dataTables_filter input {
  font-size: .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #e1e5eb;
  font-weight: 300;
  border-radius: .25rem;
  margin-left: .3125rem;
  padding: .4375rem .625rem .4375rem 1.75rem;
  min-width: 11.25rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjQ0FDRURCIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
  background-position: left 7px center;
  background-repeat: no-repeat;
  background-size: 10%;
  will-change: border-color, box-shadow;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);

  &:focus {
    &:hover {
      border-color: #007bff;
    }

    outline: 0;
    color: #495057;
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
  }
}

.dataTables_wrapper table.dataTable {
  border-top: 1px solid #e1e5eb;
  font-size: .8125rem;
  display: table !important;
  width: 100% !important;
}

.dataTables_info, .dataTables_paginate {
  padding: 20px;
  background: #fbfbfb;
  border-radius: 0 0 0.375rem 0.375rem;
}

.dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate {
  width: 50%;
  float: left;
  font-size: 13px;
  padding: 15px 20px;
  margin-bottom: 20px;
  color: #818ea3;
  height: 62px;
  border-radius: 0 0 .375rem .375rem;
}

.dataTables_footer {
  height: 62px;
  border-radius: 0 0 .375rem .375rem;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.dataTables_paginate {
  text-align: right;
  border-bottom-left-radius: 0 !important;
}

.dataTables_info, .dataTables_paginate {
  padding: 20px;
  background: #fbfbfb;
  border-radius: 0 0 0.375rem 0.375rem;
}

.dataTables_wrapper table.dataTable {
  thead {
    tr:last-child th {
      padding-right: 1.7rem;
    }

    th {
      &.sorting, &.sorting_asc, &.sorting_desc {
        position: relative;
      }

      &:first-child {
        border-left: none;
      }

      text-align: center;
      background-color: #fbfbfb;
      border: 1px solid #e1e5eb;
      font-weight: 400;
      padding: 0.75rem 1.0625rem;
    }
  }

  tbody td {
    &:first-child {
      border-left: none;
    }

    padding: .4375rem 1.0625rem;
    border: 1px solid #e1e5eb;
    text-align: center;
  }
}

.ck-editor__editable {
  min-height: 300px;
}

.vs__search::placeholder {
  color: #000000;
  opacity: 0.5;
}

.vue-tags-input {
  max-width: 100%;
}

.invalid_error {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #392a2a;
  box-sizing: border-box;
}

.vue-tags-input .ti-new-tag-input {
  padding-bottom: 3px !important;
  background: transparent;
  color: #525b5d;
  font-size: 14px;
}

#my-strictly-unique-vue-upload-multiple-image {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.colorImage {
  .image-container {
    width: 100px !important;
    height: 100px !important;

    .preview-image {
      height: 69px !important;
    }

    .image-bottom {
      height: 20px !important;
    }
  }

  .show-image img {
    max-height: 70px !important;
    max-width: 68px !important;
  }
}

//Vue data table css code
.VueTables__search-field {
  margin: 10px 0 0 10px;

  label {
    display: none;
  }
}

.VueTables__limit-field {
  margin: 10px 10px 0 0;

  label {
    display: none;
  }
}

.dataTables_wrapper table.VueTables__table {
  thead {
    tr:last-child th {
      padding-right: 1.7rem;
    }

    th {
      &.sorting, &.sorting_asc, &.sorting_desc {
        position: relative;
      }

      &:first-child {
        border-left: none;
      }

      text-align: center;
      background-color: #fbfbfb;
      border: 1px solid #e1e5eb;
      font-weight: 400;
      padding: 0.75rem 1.0625rem;
    }
  }

  td:focus, th:focus {
    outline: 0 !important;
  }
}

.VuePagination__pagination {
  li a.active {
    background-color: #0771de;
    color: white;
  }
}

//Property menu select style
.custom-select:focus {
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0;
}

.cat-select-design {
  border: 1px solid #9199a7 !important;
  font-size: 13px;
}


